.container {
  padding: 0 2rem;
  background-color: #dc0b2b;
}

.main {
  height: 89vh;
  padding: 4rem 0rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchArea {
  display: flex;
  height: 5vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.query {
  width: 60%;
  height: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid #34aad6;
  background-color: white;
  color: black;
}

.query:focus {
  outline: none;
}

.searchResults {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100%;
  border: 3px solid #34aad6;
  border-radius: 5px;
  align-items: center;
  overflow-y: scroll;
  background-color: white;
}

.searchResults::-webkit-scrollbar {
  display: none;
}

.searchItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 80%;
  border: 3px solid grey;
  border-radius: 5px;
  margin: 10px;
}

.searchItem:hover {
  animation: bounce 1s linear;
}

.searchText {
  font-size: large;
  font-weight: bold;
}

.sprite {
  height: 200px;
  width: 100px;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
}

.typeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 600px) {
  .searchText {
    font-size: small;
    font-weight: bold;
  }

  .nameContainer {
    padding-left: 10px;
  }

  .typeContainer {
    padding-right: 10px;
  }

  .query {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .searchResults {
    width: 80%;
  }
}

@media screen and (min-width: 1400px) {
  .searchResults {
    width: 70%;
  }
}
